<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head", {title: 'Inicio'}) %>  
</head>



<body>

    <!--MENU-->
    <header>
        <%- include("../partials/header") %>
    </header>
    <!--MENU-->
<div>
    <main>
        <br>
        <br>
        <div class="carousel">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                   
                  <a href="#ofertas"><img width="100px" height="320px" src="/img/porta.jpg"  class="d-block w-100" alt="..."> </a>
                </div>
                <div  class="carousel-item">
                  <a href="#ofertas"> <img width="100px" height="320px" src="/img/ofertas2.jpg" class="d-block w-100" alt="..."></a>
                </div>
                <div class="carousel-item">
                  <a href="#ofertas"> <img width="100px" height="320px" src="/img/ofertas3.jpg" class="d-block w-100" alt="..."></a>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            
            </div>

<!--Vitrinas de producto-->

        <section class="section_products">
            <br>
            <div class=" section-header ">
                <h3>Bienvenidos</h3>
                <a href="/detalle_producto ">Más información</a>
            </div>
            <br>
            
            <div class="container-fluid ">
                <% for (let p of productos) { %>
                <div class="card " style="width: 18rem; ">
                    <a href="/products/detalle_producto/<%=p.id %>">
                    <img src="/img/<%=p.image %>" class="card-img-top " alt="Imagen de producto"></a>
                    <div class="card-body ">
                        <h4><%=p.name %></h4>
                        <p class="card-text "><%=p.discount %>% descuento</p>
                        <div class="box-price ">
                            <span class="price1 "><strike>$ <%=p.price %></strike></span>
                            <span class="price2 "><b>$  $<%=p.price - (p.discount * p.price / 100) %></b></span>
                        </div>
                        <!--Boton de compra-->
                        <div class="wrapper ">
                            <a href="/products/detalle_producto/<%=p.id %>" class="button-compra ">Añadir</a>
                        </div>
                    </div>
                </div>

                <% } %>
            </div>

            <br>
            <div class="section-header ">
                <h3>¡Destacados en la Tienda!</h3>
                <h6>No lo dejes pasar.</h6>
            </div>
           <br>

            <div class="container-fluid ">
                <% for (let p of productos) { %>
                <div class="card " style="width: 18rem; ">
                    <a href="/products/detalle_producto/<%=p.id %>">
                    <img src="/img/<%=p.image %>" class="card-img-top " alt="Imagen de producto"></a>
                    <div class="card-body ">
                        <h4><%=p.name %></h4>
                        <p class="card-text "><%=p.discount %>% descuento</p>
                        <div class="box-price ">
                            <span class="price1 "><strike>$ <%=p.price %></strike></span>
                            <span class="price2 "><b>$  $<%=p.price - (p.discount * p.price / 100) %></b></span>
                        </div>
                        <!--Boton de compra-->
                        <div class="wrapper ">
                            <a href="/products/detalle_producto/<%=p.id %>" class="button-compra ">Añadir</a>
                        </div>
                    </div>
                </div>

                <% } %>
            </div>
           
        </section>

    </main>
</div>
    

<div>

<!--FOOTER-->
 
<%- include("../partials/footer") %> 
    
<!--FOOTER-->

</div>
    
</body>

</html>

