<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head", {title: 'Todos los productos'}) %>  
    </head>
    <body>
 <!--MENU-->
    <header>
             <%- include("../partials/header") %>
    </header>
<!--MENU-->
        
    <main class="main">
        <div class="container-fluid">


            <div class="container">
                <div>
                            
                </div>
                <div class="row align-items-start">
                    <div class="col">
                        <div  style="width: 30rem;">
                                
                            <div class="card-body">
                                <img src="/img/<%=producto.imagen%>" class="card-img-top" alt="Detalle de Producto">   
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div style="width: 50rem;">
   
                            <div class="card-body">
                                        
                                <h4><%=producto.nombre %> </h4>
                                <div class="descripcion">
                                
                                    <p class="card-text"><%=producto.descripcion %></p>
                                   
                                </div>
                                            <br>
                                <div class="box-price">
                                    <span class="price2"><b>Descuento:<%=producto.descuento %> % </b></span>
                                        <div>
                                            <span class="price1"><strike>$<%=producto.precio %></strike></span>
                                            <span class="compra"> $<%=producto.precio - (producto.descuento * producto.precio / 100) %></i></span>
                                        </div>
                                            
                                </div>
                                            <br>
                                            <br>
                                <div class="d-grid gap-2 d-md-block">

                                    <button type="button" class="btn btn-secondary ">Añadir al Carrito</button>

                                    <a href="/products/editar_producto/<%=producto.id %>"><button type="button" class="btn btn-secondary ">Editar producto</button></a>  

                                    <form action="/products/delete/<%=producto.id%>?_method=DELETE" method="POST" style="display: inline-flex">
                                        <button type="submit" class="btn btn-secondary">Eliminar Producto</button>
                                    </form>

                                </div>
                                            
                            </div>
                          
                        </div>
                    </div>

                </div>
            </div>
                    
        </div>

                

        <!--FOOTER-->
        <%- include("../partials/footer") %> 
            <!--FOOTER-->
    




    
    </body>
</html>