<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head", {title: productos.name}) %>  
    </head>
    <body>
 <!--MENU-->
    <header>
             <%- include("../partials/header") %>
    </header>
<!--MENU-->
        
    <main class="main">
        <div class="container-fluid">


            <div class="container">
                 <div>
                            
                    </div>
                     <div class="row align-items-start">
                        <div class="col">
                            <div  style="width: 32rem;">
                                
                                <div class="card-body">
                                    <img src="/img/<%=productos.image%>" class="card-img-top" alt="TV samsung 55 pulgadas">
                                    
                                    
                                </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div style="width: 35rem;">

                                
                                <div class="card-body">
                                        
                                    
                                            <h4>TV samsung 55 pulgadas <%=productos.name %> </h4>
                                            <div class="descripcion">
                                                <p class="card-text">Tamaño Pantalla del TV (En Pulgadas)
                                                   55 Pulgadas<%=productos.name %></p>
                                                <p class="card-text">Tipo de Pantalla del TV o Monitor Mini LED</p>
                                                <p class="card-text">Resolucion Pantalla del TV o Monitor 4K-UHD</p>
                                        
                                                <p class="card-text">Garantia del Fabricante  12 Meses</p>
                                            </div>
                                            <br>
                                            <div class="box-price">
                                            <span class="price1"><strike>$<%=productos.price %></strike></span>
                                            <span class="price2"><b>Descuento:<%=productos.discount %></b></span>
                                            <div>
                                                <span class="compra">Precio:<%=productos.price-productos.discount %></i></span>
                                            </div>
                                            
                                            </div>
                                            <br>
                                            <br>
                                            <div class="d-grid gap-2 d-md-block">

                                                <button type="button" class="btn btn-secondary ">Añadir al Carrito</button>

                                                 <button type="button" class="btn btn-secondary"> Comprar  </button>

                                                <a href="/products/editar_producto/<%=productos.id %>"><button type="button" class="btn btn-secondary ">Editar</button></a>  
                                            </div>
                                            
                                    </div>
                          
                          </div>
                        </div>

                        </div>
                    </div>
                    
            </div>

                

        <!--FOOTER-->
        <%- include("../partials/footer") %> 
            <!--FOOTER-->
    




    
    </body>
</html>